* {
    margin: 0;
    padding: 0;
}

.title-home {
    color: #343535;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

.title-base {
    color: #343535;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}