* {
    margin: 0;
    padding: 0;
}

.nos-container {
    background-image: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 7, 12, 0.50)),
        url("../Img/sala1.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5cc6d0;
}